:root {
    --color-canvas: #22272e;
    --color-menu: #2d333b;
    --color-border: #8d98a5;
    --color-text: #cdd9e5;
    --color-hover: #539bf5;
    --color-selected: hsl(6, 100%, 64%); /*#ff55847;*/
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
}

html, body {
    height: 100%;
}

body {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    background-color: var(--color-canvas);
}

#root, main {
    height: 100%;
}

main {
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-gap: 10px;
}

.toolbar {
    display: flex;
    gap: 10px;
    padding: 10px;
    background-color: var(--color-menu);
    border-bottom: 1px solid var(--color-border);
}

.toolbar a {
    flex-grow: 1;
    text-align: right;
    color: var(--color-text)
}

.diagram {
    cursor: move;
}

div[data-node] {
    border: 1px solid var(--color-border);
    background-color: var(--color-canvas);
    color: var(--color-text);
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

div[data-node]:hover {
    background-color: var(--color-hover);
}

div[data-node].start {
    background-color: var(--color-selected);
}

div[data-node].end {
    background-color: var(--color-selected);
    filter: brightness(0.8)
}

svg[data-edge] path {
    stroke: var(--color-border);
    fill: none;
}

svg[data-edge] circle, svg[data-edge] polygon {
    stroke: var(--color-border);
    fill: var(--color-canvas)
}

div[data-edge-label] {
    font-size: 0.75rem;
    cursor: pointer;
    stroke: none;
    color: #cdd9e5;
}

div[data-edge-label]:hover {
    color: var(--color-hover);
}
