:root {
    --color-canvas: #22272e;
    --color-menu: #2d333b;
    --color-border: #444c56;
    --color-text: #cdd9e5;
    --color-hover: #539bf5;
    --color-selected: hsl(6, 100%, 64%); /*#ff55847;*/
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: var(--color-canvas);
}

#root, main {
    height: 100%;
}

main {
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-gap: 10px;
}

.toolbar {
    display: flex;
    gap: 10px;
    padding: 10px;
    background-color: var(--color-menu);
    border-bottom: 1px solid var(--color-border);
}

.diagram {
    padding: 10px;
}

div[data-node] {
    border: 1px solid var(--color-border);
    background-color: var(--color-canvas);
    color: var(--color-text);
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

div[data-node]:hover {
    background-color: var(--color-hover);
}

div[data-node].start {
    background-color: var(--color-selected);
}

div[data-node].end {
    background-color: var(--color-selected);
    filter: brightness(0.8)
}

text[data-edge="label"] {
    font-size: 0.8rem;
    cursor: pointer;
}

text[data-edge="label"]:hover {
    fill: var(--color-hover) !important;
}
